h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    font-weight: 600;
}

p, li,
label, input, textarea, th, td {
    margin: 0;
    color: $txt-black !important;
    font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h4, h5, h6,
small, strong, em, span {
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}

a {
    font-family: 'Roboto', sans-serif !important;
    color: $txt-green;
    font-weight: 600;

    &:hover, &:active {
        color: $txt-green;
    }
}

h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }