// Background colors
$bg-black: #343434;
$bg-green: #046521;
$bg-blue: #095AA5;
$bg-turquoise: #579dbf;
$bg-grey: #f6f6f6;

// Text colors
$txt-black: #616161;
$txt-grey: #858585;
$txt-turquoise: #579dbf;
$txt-disabled: #b7b6b6;
$txt-red: #fc6363;

// Border colors
$bd-grey: #D3D2D2;
$bd-red: #ff9a9a;

// Other colors
$label-green: #20D82C;