// Background colors
$bg-green: #046521;

// Text colors
$txt-black: #616161;
$txt-green: #0b9b36;
$txt-darkgreen: #034116;
$txt-grey: #858585;
$txt-disabled: #b7b6b6;
$txt-red: #fc6363;

// Border colors
$bd-grey: #D3D2D2;
$bd-red: #ff9a9a;

// Other colors
$label-green: #20D82C;